.background {
    background-image: url("../images/50-material-bgs.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.center-me{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.form-signin {
    padding: 40px;
    text-align: center;
}

input {
    margin-bottom: 20px;
}

img{
    height: 450px;
    width: 350px;
}